
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="robots" content="noindex">
  

  <title>Pradeep pujari</title>
 
   
</head>


  <body>
    <span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url(/images/cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">Machine Learning Engineer @WalmartLabs</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">
      
      

        <div class="navigation-wrapper">

          

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            
        <li>
              <figure>
                <img src="/images/in_berkley.jpg" width="100" height="100" alt="Photo of ppujari">
                <figcaption>Berkley</figcaption>
              </figure>
            
          </li>
          
           

            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>

  </body>
</html>
